body{

margin:0;
font-family:Poppins;
background:#0b0b0b;
color:white;
text-align:center;

}

header{

padding:40px;
background:#111;

}

.hero{

padding:80px 20px;

}

.hero h2{

font-size:42px;

}

button{

padding:14px 28px;
border:none;
border-radius:8px;
background:#ff3b3b;
color:white;
cursor:pointer;
margin-top:10px;
font-size:16px;
transition:0.3s;

}

button:hover{

transform:scale(1.05);

}

.card{

background:#151515;
padding:30px;
border-radius:12px;
max-width:600px;
margin:auto;

}

.chat{

padding:50px;

}

.chatbox{

background:#151515;
height:200px;
overflow:auto;
padding:20px;
max-width:500px;
margin:auto;
border-radius:10px;
text-align:left;

}

input{

padding:10px;
margin-top:10px;
border-radius:6px;
border:none;

}

.orcamento{

padding:60px;

}

.stress{

padding:50px;

}

.barra{

width:80%;
height:25px;
background:#222;
margin:auto;
border-radius:20px;
overflow:hidden;

}

#stressBar{

height:100%;
width:0%;
background:red;
transition:1s;

}

.contador{

padding:60px;

}

.contador h1{

font-size:60px;

}

footer{

padding:30px;
color:#888;

}